/*****************************
  Site Banner
*****************************/

/*-----------------------------------*/
/* Main Banner 1 */
/*-----------------------------------*/
.main-banner-1 {
	padding-top: 230px;
	padding-bottom: 150px;
	overflow: visible;
	position: relative;
	height: 1070px;

	.banner-bg-one{
		position: absolute;
		top:0;
		left: 0; 
		z-index: -1;
	}

	.rotate-img{
		margin-top: 50px;
		margin-left: -3px;
	}

	.banner-title{
		position: absolute;
		font-size: 380px;
		line-height: 400px;
		font-family: $font-hedding;
		color: $white;
		left: 0px;
		bottom: -17px;
	}

	.banner-content{
		padding-left: 37px;
		position: relative;

		h2{
			margin-bottom: 44px;
			line-height: 68px;
			text-transform: capitalize;
		}
		.attract-hover{
			position: absolute;
			right: 98px;
		}
	}
}

/*-----------------------------------*/
/* Main Banner 2 */
/*-----------------------------------*/

.main-banner.main-banner-2{
	padding-top: 250px; 
	overflow: hidden; 
	.banner-inner{
    position: relative;
    padding-bottom: 110px;
    .banner-bg{
    	position: absolute;
    	right: -10px;
    	top: 0px;
    }
	.banner-conent{
		position: relative;
		.sub-title{
			display: flex;
			gap: 10px;
			align-items: center;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 15px;
			background: linear-gradient(60deg, $gradient-1 -20%, $gradient-2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.title{
			 font-size: 140px;
			 line-height: 150px;
		}
		.conent{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
			.small-text{
         max-width: 450px;
         margin-bottom: 0px;
         margin-top: 20px;
			}
			.title{
				position: relative;
				margin-left: 28px;
				.banner-icon{
					position: absolute;
			    top: 54px;
			    left: 102px;
				}
			}
		}
		.counter.counter-style-1{
       margin-left: -50px;
		}
	}
 }
}

/*-----------------------------------*/
/* Main Banner 3 */
/*-----------------------------------*/

.main-banner.main-banner-3 {
	overflow: hidden;
	padding: 280px 0 175px 0;
	position: relative;

  .banner-bg {
    object-position: right top;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
	}

	.banner-inner{
    position: relative;
    padding: 0 150px;

		.banner-conent{
			width: 65%;
			position: relative;

			.sub-title{
				display: flex;
				gap: 10px;
				align-items: center;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 30px;
				background: linear-gradient(60deg, $gradient-1 -20%, $gradient-2 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.title{
				font-size: 92px;
	    	line-height: 92px;
	    	margin-bottom: 50px;

	    	.icon-title {
	    		position: relative;
	    		display: inline-block;

	    		.banner-icon {
	    			width: 45px;
	    			height: 45px;
	    			position: absolute;
	    			top: 28px;
    				left: 68px;
	    		}
	    	}
			}

			.conent{
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 30px;

				.small-text{
					max-width: 450px;
					margin-bottom: 0px;
					margin-top: 20px;
				}

				.title{
					position: relative;
					margin-left: 28px;

					.banner-icon{
						position: absolute;
				    top: 54px;
				    left: 102px;
					}
				}
			}

			.banner-conent-footer {
		    display: flex;
		    align-items: center;
		    gap: 50px;
			}
		}
 	}
}


.rotate {
  -webkit-animation: rotate 50s normal linear infinite;
  animation: rotate 50s normal linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}


/*------------------------------*/
/* Responsive CSS */
/*------------------------------*/

@media (max-width: 1699px) {
  .main-banner.main-banner-3 {
    .banner-inner {
      .banner-conent {
        width: 75%;
      }
    }
  }
}


@media (max-width: 1599px) {

	/* Main Banner 1 ----------*/
	.main-banner-1 {
		height: 870px;
		.banner-title{
			font-size: 300px;
			line-height: 320px;
			margin-bottom: 0px;
		}
	}

	.main-banner.main-banner-3 {
		.banner-inner {
    	padding: 0 100px;
			.banner-conent {
        width: 85%;
      }
    }
  }
}

@media (max-width: 1399px) {

	/* Main Banner 1 ----------*/
	.main-banner-1 {
		.banner-title{
			font-size: 250px;
			line-height: 270px;
		}
		.banner-content{
			h2{
				font-size: 50px;
				line-height: 58px;
			}
		}
	} 

	/* Main Banner 2 ----------*/
	
	.main-banner.main-banner-2  {
		.banner-inner {
			.banner-conent {
				.title{
					 font-size: 110px;
	         line-height: 120px;
				}
				.conent  {
					.title{
						 .banner-icon{
					    top: 38px;
					    left: 75px;
						 }
					}
				}
			}
		}
 	}

 	/* Main Banner 3 ----------*/
 	.main-banner.main-banner-3 {
 		padding: 250px 0 150px 0;

 		.banner-inner {
 			padding: 0 80px;

 			.banner-conent {
        width: 90%;
			}
		}
	}
}

@media (max-width: 1199px) {

	/* Main Banner 1 ----------*/
	.main-banner-1 {
		height: 840px;
		padding-top: 180px;
		.banner-title{
			font-size: 190px;
			line-height: 210px;
		}

		.rotate-img{
			margin-left: 0;
			margin-top: 30px;
		}
		.banner-content{
			padding-left: 0px;
			h2{
				font-size: 40px;
				line-height: 48px;
			}
		}
	} 
	

	/* Main Banner 2 ----------*/
	.main-banner.main-banner-2  {
	 	padding-top: 200px;

		.banner-inner {
			.banner-conent {
				.title{
				 	font-size: 85px;
         	line-height: 95px;
				}

				.conent  {
					.title{
					 	.banner-icon{
		        	top: 32px;
		        	left: 59px;
		        	width: 40px;
					 	}
					}
				}
			}
		}
 	}

 	/* Main Banner 3 ----------*/
 	.main-banner.main-banner-3 {
    padding: 180px 0 120px 0;

    .banner-inner {
      padding: 0 50px;

      .banner-conent {
      	.title {
	        font-size: 80px;
	        line-height: 90px;
	        margin-bottom: 40px;

	        .icon-title {
	        	.banner-icon {
			        width: 40px;
					    height: 40px;
					    top: 30px;
					    left: 59px;
			      }
			    }
	      }
	    }
    }
	}
}

@media (max-width: 991px) {

	/* Main Banner 1 ----------*/
	.main-banner-1 {
		height: 650px;
		padding-top: 125px;

		.banner-title{
			font-size: 140px;
			line-height: 160px;
		}

		.rotate-img{
			margin-top:0px;
		}
		.banner-content{
			h2{
				font-size: 36px;
				line-height: 44px;
			}
		}
	} 
	

	/* Main Banner 2 ----------*/
	
	.main-banner.main-banner-2  {
	 	padding-top: 140px;

		.banner-inner {
		  padding-bottom: 30px;

			.banner-conent {
				padding: 50px 0px;

				.title{
	         font-size: 62px;
	         line-height: 72px;
				}

				.conent  {
					.small-text{
					  max-width: 400px;
					  margin-right: 15px;
					  margin-top:0px;
					}

					.title{
						margin-left: 0px;

					 	.banner-icon{
		        	top: 24px;
		        	left: 43px;
		        	width: 30px;
					 	}
					}
				}
			}
		}
	}

 	/* Main Banner 3 ----------*/
	.main-banner.main-banner-3 {
	  padding: 180px 0 50px 0;

	  .banner-inner {
      padding: 0 30px;

      .banner-conent {
	      width: 100%;

	      .title {
	        font-size: 64px;
        	line-height: 64px;

	        .icon-title {
	        	.banner-icon {
			        width: 30px;
			        height: 30px;
			        top: 20px;
			        left: 48px;
			      }
			    }
	    	}
	    }
    }
	}

}

@media (max-width: 767px) {

	/* Main Banner 1 ----------*/
	.main-banner-1 {
		.rotate-img{
			width: 150px;
			height: auto;
			display: block;
			margin: 0 auto;
		}


		.banner-title {
      font-size: 90px;
      line-height: 110px;
      left: 50%;
	    transform: translateX(-50%);
	    bottom: 0;
    }

	.banner-content{
		text-align: center;

		h2{
			font-size: 30px;
			line-height: 38px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.attract-hover{
			position: inherit;
			right: inherit;
		}
	} 

	
	}

	/* Main Banner 2 ----------*/
	.main-banner.main-banner-2 {
		.banner-bg{
			display: none;
		}

   	.banner-inner {
	   	padding-bottom: 40px;

			.banner-conent {
				padding: 0px;

				.title{
	        font-size: 62px;
	        line-height: 72px;
				}

				.conent{
					.small-text{
					 	order: 1;
					 	max-width: 100%;
					}
				}

				.counter.counter-style-1{
	      	margin-left:0px;
			 	}
	  	}
		}
	}

	/* Main Banner 3 ----------*/
	.main-banner.main-banner-3 {
		padding: 150px 0 40px 0;
		.banner-bg {
			display: none;
		}

		.banner-inner {
			padding: 0;

			.banner-conent {
				.sub-title {
		    	margin-bottom: 20px;
		    }

		    .title {
	        font-size: 56px;
	        line-height: 60px;

	        .icon-title {
	        	.banner-icon {
			      	width: 26px;
			        height: 26px;
			        top: 21px;
			        left: 41px;
						}
			    }
		    }
		  }
		}
	}
}

@media (max-width: 575px) {

	/* Main Banner 1 ----------*/    
	.main-banner-1 .banner-content h2 {margin-bottom: 15px;}
	

	/* Main Banner 2 ----------*/
	
	.main-banner.main-banner-2 {
		.banner-bg{
			display: none;
		}

   	.banner-inner {
   		padding-bottom: 40px;

			.banner-conent {
				padding: 0px;

				.title{
	        font-size: 44px;
	        line-height: 60px;
	        margin: 0px !important;
				}

				.conent{
					.small-text{
					 	order: 1;
					 	max-width: 100%;
					}

					.title{
					 	.banner-icon{
						  top: 20px;
			        left: 30px;
			        width: 22px;
				  	}
					}
				}

				.counter.counter-style-1{
      		margin-bottom: 40px;
		 		}
  		}
		}
	}

	/* Main Banner 3 ----------*/
	.main-banner.main-banner-3 {
  	.banner-inner {
  		.banner-conent {
  			.title {
			    font-size: 46px;
			    line-height: 54px;

			    .icon-title {
			    	.banner-icon {
			        width: 22px;
			        height: 22px;
			        top: 19px;
			        left: 35px;
			      }
			    }
			  }
			}
		}
  }

}

@media (max-width: 479px) {
	/* Main Banner 1 ----------*/ 
	.main-banner-1 .banner-title {font-size: 70px;line-height: 90px;}

	/* Main Banner 3 ----------*/ 
	.main-banner.main-banner-3 {
		padding: 125px 0 30px 0;

		.banner-inner {
			.banner-conent {
				.sub-title {
					font-size: 16px;
				}

				.title {
	        font-size: 34px;
	        line-height: 40px;
	        margin-bottom: 30px;

	        .icon-title {
	        	.banner-icon {
			        width: 16px;
			        height: 16px;
			        top: 14px;
			        left: 26px;
			      }
			    }
		    }

		    .banner-conent-footer {
			    flex-direction: column-reverse;
			    align-items: flex-start;
				}
			}
		}
	}
}